body, html{
    margin:0;
    padding:0;
    height:100%;
    background-color: #cccccc;
}
.containerprinc{
    width: 80%;
    height: 100%;
    background-color: #ff6500;
    margin:0 auto; /* Alinhamneto central */
    display:grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: "cabecalho cabecalho"
                         "secao barra-lateral"
                         "rodape rodape";
}
header{
    background-color: #cccccc;
    grid-area:cabecalho;
}
main{
    background-color: #cccccc;
    grid-area:secao;
    display:flex;
    flex-wrap:wrap ;
}
aside{
    background-color: #e0d474;
    grid-area:barra-lateral;
}
footer{
    background-color: #23b80f;
    grid-area:rodape;
}